* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.t_dibu {
  width: 100%;
  height: 360px;
  background-color: #505050;
  font-size: 12px;
  color: #b7b3b0;
  position: absolute;
  overflow: hidden;
}

.t_dibu ul {
  float: left;
  margin-top: 40px;
  height: 100%;
  position: relative;
}

.t_dibu ul :nth-child(1) {
  font-size: 15px;
  color: #fffdff;
  margin-bottom: 31px;
}

.t_dibu ul li {
  margin-bottom: 8px;
}

.t_dibu .t_code_img {
  float: left;
  margin-top: 40px;
  margin-left: 212px;
  height: 100%;
}

.t_dibu .t_dibu1 {
  margin-left: 20px;
  width: 130px;
}

.t_dibu .t_dibu1 :nth-child(3) {
  margin-top: 20px;
}

.t_dibu .t_dibu2 {
  margin-left: 30px;
  width: 92px;
}

.t_dibu .t_dibu3 {
  margin-left: 30px;
}

.t_dibu .t_dibu4 {
  margin-left: 18px;
  width: 65px;
}

.t_dibu .t_dibu4 :nth-child(1) {
  font-size: 12px;
  color: #b7b3b0;
  margin-bottom: 8px;
  margin-top: 50px;
}

.t_dibu .t_dibu5 {
  margin-left: 40px;
}

.t_dibu .t_dibu6 {
  margin-left: 25px;
}

.t_dibu .t_dibu7 {
  position: relative;
  left: -515px;
  bottom: -341px;
}

.t_dibu .t_back_png {
  background: url(../cssimg/back.png) no-repeat 6px 13px;
  background-color: #e8e8e8;
  width: 50px;
  height: 50px;
  border: #e8e8e8 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  left: 1400px;
  top: 250px;
  position: relative;
  display: none;
}
